<div class="d-flex justify-content-center m-2 p-2">
    <div class="card mb-3 shadow rounded" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="'assets/ditra.png'" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h5 class="card-title"> POLICIA NACIONAL COLOMBIA</h5>
            </div>
          </div>
        </div>
      </div>
  </div>