<app-toast-custom [params]="objToast"></app-toast-custom>

<div class="col py-0">
    <div class="mt-1">
        <form [formGroup]="fControl" (ngSubmit)="btnDescargar()">

            <section class="rounded shadow  p-2">

                <div class="row  g-3 mb-2">
                    <div class="col-3">
                        <label class="me-2 fw-bold" for="startDate">Rango de fechas:</label>
                    </div>
                    <div class="col-3">
                        <!-- <label for="startDate">Start</label> -->
                        <input id="startDate" class="form-control" type="date" formControlName="txtfechainicial" />
                        <span id="startDateSelected"></span>
                    </div>
                    <div class="col-3">
                        <!-- <label for="endDate">End</label> -->
                        <input id="endDate" class="form-control" type="date" formControlName="txtfechafinal" />
                        <span id="endDateSelected"></span>
                    </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label class="me-2 fw-bold" for="txttransferidoA">Tipo de transferencia:</label>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttransferido" id="txttransferidoA" value="A"
                                     formControlName="txttransferido">
                                <label class="form-check-label" for="txttransferidoA">Agrupado</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttransferido" id="txttransferidoS" value="S"
                                     formControlName="txttransferido">
                                <label class="form-check-label" for="txttransferidoS">Transferido</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttransferido" id="txttransferidoN" value="N"
                                     formControlName="txttransferido">
                                <label class="form-check-label" for="txttransferidoN">No Transferido</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label class="me-2 fw-bold" for="inlineRadio1">Tipo de consulta:</label>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttipo" id="inlineRadio1" value="N"
                                    (click)="btnChTipoConsulta($event.target)" formControlName="txttipo">
                                <label class="form-check-label" for="inlineRadio1">Nacional</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttipo" id="inlineRadio2" value="S"
                                    (click)="btnChTipoConsulta($event.target)" formControlName="txttipo">
                                <label class="form-check-label" for="inlineRadio2">Seccional</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="txttipo" id="inlineRadio3" value="M"
                                    (click)="btnChTipoConsulta($event.target)" formControlName="txttipo">
                                <label class="form-check-label" for="inlineRadio3">Municipio</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-3 needs-validation mb-2">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <div class="form-floating">
                            <select class="form-select" id="seccional" (change)="chSeccional($event.target)"
                                formControlName="txtseccional">
                                <option selected value="">Seccional</option>
                                <option *ngFor="let item of (lSeccional$ | async)?.Resultado"
                                    [value]="item.idDepartamento">
                                    {{item.descripcion}} - {{item.departamento?.descripcion}}
                                </option>
                            </select>
                            <label for="seccional">Seleccione la Seccional</label>
                        </div>
                        <div class="text-danger"
                            *ngIf="fControl.get('txtseccional')?.invalid && (fControl.get('txtseccional')?.dirty || fControl.get('txtseccional')?.touched)">
                            Ingrese la seccional
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-floating">
                            <select class="form-select" id="municipio" formControlName="txtmunicipio">
                                <option selected value="">Municipio</option>
                                <option *ngFor="let item of (lSecretaria$ | async)?.Resultado"
                                    [value]="item.idSecretaria">
                                    {{item.descripcion}}
                                </option>
                            </select>
                            <label for="municipio">Seleccione el Municipio</label>
                        </div>
                        <div class="text-danger"
                            *ngIf="fControl.get('txtmunicipio')?.invalid && (fControl.get('txtmunicipio')?.dirty || fControl.get('txtmunicipio')?.touched)">
                            Ingrese la secretaria
                        </div>
                    </div>

                </div>

                <div class="row g-1 mb-2">
                    <div class="col-auto">
                        <div class="mx-auto p-2">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="fControl.invalid">Descargar</button>
                        </div>
                    </div>
                </div>

                <div class="row g-1 mb-2" *ngIf="!descargaExitosa">
                    <div>
                        <p class="placeholder-glow">
                            <span class="placeholder col-12"></span>
                        </p>

                        <p class="placeholder-wave">
                            <span class="placeholder col-12"></span>
                        </p>
                    </div>
                </div>

                <div class="row g-1 mb-2" *ngIf="descargaExitosa">
                    <div>
                        <p>
                            {{CONSTANT.MENSAJES.NO_INFORMACION_DESCARGADA}}
                        </p>
                    </div>
                </div>

            </section>

        </form>
    </div>
</div>