<main class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #3366CC;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://www.policia.gov.co/sites/default/files/escudo-policia.png" alt="Bootstrap" width="30"
                    height="24">
            </a>
            <a class="navbar-brand" href="#">GOV.CO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="listingMenu">
                            Consultas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="listingMenu">
                            <li class="dropdown-submenu dropend"><a class="dropdown-item"
                                    routerLink="consulta/comparendo"> Comparendo</a></li>
                            <li class="dropdown-submenu dropend"><a class="dropdown-item" routerLink="consulta/recaudo">
                                    Recaudo</a></li>
                            <li class="dropdown-submenu dropend"><a class="dropdown-item"
                                    routerLink="consulta/caducidades">
                                    Caducidades y Prescripciones</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="listingMenuRegistro">
                            Registro
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="listingMenuRegistro">
                            <li class="dropdown-submenu dropend"> <a class="dropdown-item" routerLink="registro/trasferencias">Transferencia Directa</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" routerLink="registro/trasferencias">Registro Transferencias</a>
                    </li> -->

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;" *ngIf="false">
                <a href="#" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Icon-only">
                    <img src="https://www.policia.gov.co/sites/default/files/escudo_policia_17.png" alt="Bootstrap"
                        width="32" height="32">
                    <span class="visually-hidden">Icon-only</span>
                </a>
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li class="nav-item">
                        <div class="dropdown dropend">
                            <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title=""
                                data-bs-placement="right" data-bs-original-title="Home" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-search fs-5"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Consulta Comparendos</a></li>
                                <li><a class="dropdown-item" href="#">Consulta Recaudo</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi-table fs-5"></i>
                        </a>
                    </li>
                </ul>
                <div class="dropdown border-top">
                    <a href="#"
                        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div id="liveAlertPlaceholder"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>