<ngx-loading-bar ref="http" [fixed]="true" color="#dc3545"></ngx-loading-bar>
<router-outlet></router-outlet>
<footer class="footer mt-auto d-flex justify-content-center bg-soft border-0 navbar-dark bg-primary">
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-1">
                    <ul class="m-0" style="display: flex !important; list-style: none; ">
                        <li><img class="img-max" style="max-height: 47px;"
                                src="https://www.policia.gov.co/sites/default/files/marcapais.png" alt="marca pais">
                        </li>
                        <li class="line-white"
                            style="border-left: 1px solid #fff !important; padding: 0.5rem; margin-left: 1.5rem;"></li>
                        <li><img src="https://www.policia.gov.co/sites/default/files/govco.png" alt="gobierno en linea">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="p-3"><a href="https://www.gov.co" style="color: white;" target="_blank"> Conoce GOV.CO
                        aqui</a></div>
            </div>
        </div>
    </div>
</footer>